themes {
    gruvbox {
        fg "#d5c4a1"
        bg "#282828"
        black "#3c3836"
        red "#cc241d"
        green "#98971a"
        yellow "#d79921"
        blue "#3c8588"
        magenta "#b16286"
        cyan "#689d6a"
        white "#fbf1c7"
        orange "#d65d0e"
    }
}
