# --- Environment Variable ---
term=xterm-256color

# --- Shell to launch on startup ---
command = zellij

# --- Window Decor, Padding, and Opacity ---
window-decoration = false
window-padding-x = 16
window-padding-y = 14
background-opacity = 0.98

# --- Keybinding: F11 -> Toggle Fullscreen ---
keybind = f11=toggle_fullscreen
