themes {
    ristretto {
        fg "#e6d9db"
        bg "#2c2525"
        red "#fd6883"
        green "#adda78"
        yellow "#f9cc6c"
        blue "#f38d70"
        orange "#FFA066"
        magenta "#a8a9eb"
        cyan "#85dacc"
        black "#2c2525"
        white "#e6d9db"
    }
}
