@import ".config/wofi/wofi.css";

* {
  font-family: "CaskaydiaMono Nerd Font", monospace;
  font-size: 18px;
}

window {
  margin: 0px;
  padding: 20px;
  background-color: @base-rgba;
}

#inner-box {
  margin: 0;
  padding: 0;
  border: none;
  background-color: @base;
}

#outer-box {
  margin: 0;
  padding: 20px;
  border: none;
  background-color: @base;
  border: 2px solid @border;
}

#scroll {
  margin: 0;
  padding: 0;
  border: none;
  background-color: @base;
}

#input {
  margin: 0;
  padding: 10px;
  border: none;
  background-color: @base;
  color: @text;
}

#input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry:selected {
  outline: none;
  border: none;
}

#entry:selected #text {
  color: @selected-text;
}

#entry image {
  -gtk-icon-transform: scale(0.7);
}
